
html{
  font-family:'Karla';
  font-size: 16px;
}

*, *:before, *:after{
  box-sizing: border-box;
}


h3, h4, p{
  margin: 0;
}

body{
  padding:20px;
}


#card{
  
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 4px 5px 5px -4px rgba(0,0,0,0.63);
  overflow:hidden;

}
#top-card{
  width: 100%;
  height: 45%;
  padding:25px;
  
}


#bottom-card{
  width: 100%;
  height: 55%;
  color: white;
}

#bottom-left-card{
  display:inline-block;
  width: 100%;
  height: 50%;
  background-color:#2ab2af;
  vertical-align: top;
  padding:25px;
}
#bottom-right-card{
  display:inline-block;
  width: 100%;
  height: 50%;
  background-color:#2EBFBD;
  vertical-align: top;
  padding:25px;
}

#top-card h3{
  color:#2ab2af;
  margin-bottom: 25px;
}
#top-card h4{
  color:#c0df34;
  margin-bottom: 10px;
}
#top-card p{
  color:#c7ced4;
}
#price{
  display:inline-block;
  font-weight:700;
  font-size: 1.9rem;
}

#price-container{
  margin-top: 15px;
  margin-bottom: 10px;
}
#price-frequency{
  position:relative;
  top: -4px;
  display:inline-block;
  margin-left: 10px;
  opacity: 0.7;
  font-size: 0.8rem;

}
button{
  font-family: 'Karla';
  color:white;
  background-color: #c0df34;
  border:none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  box-shadow: 4px 5px 5px -4px rgba(0,0,0,0.63);
  margin-top: 20px;
  font-size: 1.01rem;
}

button:hover{
  background-color: #bde01f;
  transform: scale(1.02);
  cursor: pointer;
}


#bottom-left-card p{
  font-size: 0.9rem;
}
ul{
  padding:0;
  list-style:none;
}
li{
  font-size: 0.8rem;
  opacity: 0.8;
}

@media (min-width: 600px){
  #card{
    width:550px;
    height:400px;
  }
  #bottom-left-card, #bottom-right-card{
    width:50%;
    height:100%;
  }
}
